@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*:root {
  --color-primary:#FF6565;
  --color-white:#ffffff;
  --color-black:#1b1b1b;
  --color-ligh-grey:#979797;
  --color-blue:#071629;

  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 3.2rem;
  --font-size-xx-large: 4.6rem;
  --font-size-small: 1.4rem;
  --font-family-base: 'Source Sans Pro', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  --text-color: var(var(--color-black));

  --font-family-base: 'Source Sans Pro', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-small: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 3.2rem;
  --font-size-xx-large: 4.6rem;

  --font-weight-regular: 400;
  --font-weight-semiBold: 500;
  --font-weight-bold: 600;

  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
  --line-heigt-extra-big: 4rem;
  --nav-item-margin: 0 0 0 4rem;
  --header-text-color:var(--color-white);

}*/

/* Base
======================== */

*, *:before, *:after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  overflow-x: hidden;
  color: #FF6565;
  margin: 0 auto;
  justify-content: center;
}

header{
  width: 100%;
  padding-top: 2rem;
  position: absolute;
  color: #ffff;
}
header ul {
  font-weight: 600;
  min-width: 100%;
  }
.header-logo {
  width: 160px;
}
.header-container{
  display: flex;
  justify-content: space-around;
}
.nav {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  list-style: none;
}
.nav .nav-link:hover
{
  color: #FF6565;
}
.nav .nav-link:active
{
  color: #FF6565;
}

.nav .nav-link:active {
  color: #FF6565;
}
.nav-item {
  margin: 0 0 0 4rem;
}
.menu-ico {
  cursor: pointer;
  padding: 2.5rem;
  position: relative;
  user-select: none;
  display: none;
}
.nav-ico {
  background:#ffffff;
  display: block;
  width: 2rem;
  height: .2rem;
  position: relative;
  transition: background .2s ease-out;
}
.nav-ico::before, nav-ico::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  transition: all .2s ease-out;
}

.menu-btn:checked ~ .menu-ico .nav-ico::before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-ico .nav-ico::after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-ico .nav-ico::after,
.menu-btn:checked ~ .menu-ico .nav-ico::before {
    top:0;
  }
.menu-btn:checked ~ .menu-ico .nav-ico {
    background: transparent;
  }
.nav-ico::after {
    top: .7rem;
  }
.nav-ico::before {
    top: .7rem;
  }
  .nav-link {
    color: #ffffff;
    text-decoration: none;

  }
.menu-btn {
    display: none;
 }
.banner {
  background-image: url("./images/headphones_hero_1.jpg");
  height: 800px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #979797;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
h1 {
  font-weight: 600;
  line-height: 4rem;
}
h2 {
  font-weight: 600;
  font-size: 3.2rem;
}
 h3 {
  font-weight: 600;
  font-size: 1.8rem;
 }
p {
    margin: 0 2rem;
  
}
button {
  background-color: #FF6565;
  color: #ffffff;
  display: flex;
  padding: 13px 31px;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 600;
  
}
button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.9;
}
.main-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 2rem;
  font-size: 1.8rem;
  color:#ffffff
}
.main-title strong {
  margin: 0 4rem;
  font-size: small;
}
.CTA {
  margin: 40px 0;
}
.caption {
  text-align: center;
  max-width: 637px;
  padding-top: 1.5rem;
  color: #ffffff;
}
footer {
  color: #ffffff;
}
footer p {
  opacity: 0.35;
}

@media screen and (max-width: 767px) {
  .nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-left: 3rem;
      line-height: 4rem;
  }
  .container {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

  }
  .header_logo {
      display: flex;
      justify-content: center;
      padding-top: 0.7rem;
  }
  .nav-menu{
      display: none;
  }
  .menu-ico {
      display: block;
      position: absolute;
      width: 100%;
  }
  .menu-btn:checked ~ .nav-menu {
      display: block;
      max-height: 100%;
      overflow: inherit;
    }
    .nav-item {
      margin: 0;
    }
    .banner {
      background-position: 38% -3rem;
      padding-top: 25rem;
    }
    .logo {
      flex-direction: column;
      justify-content: space-evenly;
    }
    footer {
      width: auto;
    }


  }
@media screen and (max-width: 520px) {
  .icons-section {
      display: block;
  }
}